# Temp files
.DS_Store
*~
buck-out/


# Compiled files
.venv/
__pycache__/
.*cache/

# Distribution / packaging
/dist/

# Tests and coverage
/data/
/node_modules/
/.coverage
/htmlcov/
/user_data/
/src/user_data/

# docs
/docs/generated/
/docs/_build/
